[gcpbatch]
region = ${region}
key_path = ${key_path}
project_id = ${project_id}
bucket_name = ${bucket_name}
container_image_uri = ${container_image_uri}
covalent_package_version = ${covalent_package_version}
